.App{
  width: 100%;
  height: 100vh;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.Sidebar{
  height: 1000vh;
  width: 250px;
  background-color: #2d445d;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;

}

.SidebarList .row{
  width: 100%;
  height: 70px;
  display: flex;
  color:white;
  align-items: center;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #3b627a;
}

.row #icon{
  flex: 30%;
  display:grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

.SidebarList #active{
  background-color: #3b627a;
}

.SidebarIcon{
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

.SidebarIcon img{
  width: 100px;
}

.SidebarIcon p{
  color:white;
  font-weight: 600;
  font-size: 13px;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

